@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Dit wordt binnenkort een webshop!
                @Html.ActionLink("Case", "Index", "Case", 1, null )
                @Html.ActionLink("Cpu", "Index", "Cpu", 1, null )
                @Html.ActionLink("Harddisk", "Index", "Harddisk", 1, null )
                @Html.ActionLink("Mobo", "Index", "Mobo", 1, null )
                @Html.ActionLink("Powersupply", "Index", "PowerSupply", 1, null )
                @Html.ActionLink("Ram", "Index", "Ram", 1, null )
            </p>
        </div>
    </section>
}
