@model INFPROGX.ViewModels.TotalProduct
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Message</h2>
        Uw bestelling:<br />
        Case: @Model.Case.Name<br />
        CPU: @Model.Cpu.Name<br />
        Harddisk: @Model.Harddisk.Name<br />
  

        Totaal prijs: &euro;@Model.TotalPrice<br /><br />

        @Html.ActionLink("Terug naar shop", "Index", "Home")<br />
        @Html.ActionLink("Afrekenen", "Checkout", "Cart")
    </div>
</body>
</html>
