@model INFPROGX.Models.Mobo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Mobo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Format)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Format)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
        @if (User.IsInRole("Admin")){
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductId }) 
        @Html.Raw("|");
    }
    @Html.ActionLink("Back to List", "Index")
</p>
